[Desktop Entry]
Name=Sefirah
Comment=Seamless Device Linking
Exec=Sefirah
Icon=com.xzyht.notifyrelay
Terminal=false
Type=Application
Categories=Utility;
